{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Cadastrar Produto</h2>

<form method="POST" class="card p-4 shadow">

    <div class="mb-3">
        <label class="form-label">Código</label>
        <input type="text" name="codigo" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Produto</label>
        <input type="text" name="produto" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Quantidade</label>
        <input type="number" name="quantidade" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Validade</label>
        <input type="date" name="validade" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Preço (R$)</label>
        <input type="text" name="preco" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Comentário</label>
        <textarea name="comentario" class="form-control"></textarea>
    </div>

    <button class="btn btn-success">Salvar</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Voltar</a>

</form>

{% endblock %}